body {
    color: #e3e3e3;
    background-color: #292929;

}


/*STYLING FOR THE DIV ELEMTS*/

div {
    width: 100%;
    height: 100%;

}

div.left {
    width: 30%;
    height: 100%;
    border-right: 6px solid #33cc00;
    margin: 20px;
    padding: 20px;

}

div.right {
    width: 30%;
    height: 100%;
    margin: 10px;
    overflow-y: hidden;
}


/*FLEX FOR SIDE BY SIDE FITTING OF THE DIV*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
} 


/*STYLING FOR IMAGES*/

img.profile {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #33cc00;
}

