body {
    color: #e3e3e3;
    background-color: #121212;

    text-align: justify;

    height: 100%;
}


/*STYLING FOR THE DIV ELEMTS*/

div {
    width: 100%;
    height: 100%;
}

div.left {
    width: 30%;
    height: 100%;
    border-right: 4px solid #33cc00;
    margin: 20px;
    padding: 20px;
    overflow: hidden;

    float:left

}

div.right {
    width: 60%;
    height: 100%;
    margin: 10px;
    padding: 20px;
    overflow: hidden;

    float:left
}


/*FLEX FOR SIDE BY SIDE FITTING OF THE DIV*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
} 


/*STYLING FOR IMAGES*/

img.profile {
    width: 200px;
    border-radius: 50%;
    border: 3px solid #33cc00;
    align-self: center;
}

ul.skill, ul.hobby {
    list-style-image: url('https://carpio-itbd.github.io/Images/SkiilsG.png');
}

ul.project {
    list-style-image: url('https://carpio-itbd.github.io/Images/ProjectG.png');
}

ul.education {
    list-style-image: url('https://carpio-itbd.github.io/Images/EducationG.png');
}


/* TEXT FORMATS */

h1, h2, h3.left {
    color: #33cc00;
}

h4, p.desc {
    color: #ccc;
}

hr {
    height:5px;
    border-width:0;
    color:#33cc00;
    background-color: #33cc00;
}